<!DOCTYPE html>
<html lang="en">
	<head>
		<% include ../partials/header.ejs %>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/search.css">
	</head>
	<body class="bg-img">
		<div class="fullpage-container">

      <div class="nav-container">
        <% include ../partials/navbar.ejs %>
      </div>
			
			<div class="content-container content-grid">
				<h1 class="title">
					<img src="/assets/logo/logotype-vertical-darkblue.svg" id="title-icon">
        </h1>

        <div class="search-frame">
          <% include ../partials/search %>
        </div>
        
        
				<div id="github" class="one items">
					<div class="centered column">
						<h2><i class="github icon"></i> Open-Source</h2>
						The full website is open-source on Github including all datasets with documentation to use them in your own application.
          </div>
        </div>
        <div id="scams" class="two items">
          <div class="centered column">
            <h2><i class="rocket icon"></i> Knowledge</h2>
            By combining all available information, connections between scams can be easily found.
          </div>
        </div>

				<div id="report" class="three items">
					<div class="centered column">
						<h2><i class="flag outline icon"></i> Report</h2>
						An easy-to-use report function helps us identifying all the current scams so we can add them to the database.
          </div>   
        </div>

        <div id="donate" class="four items">
					<div class="centered column">
						<h2><i class="dollar icon"></i> Donate</h2>
						Support the developers and maintainers of this project by donating ETH or ERC20 tokens to cryptoscamdb.eth.
					</div>
        </div>
        
      </div>
      
      <div class="footer-container">
        <% include ../partials/footer.ejs %>
      </div>
			
		</div>
		<script src="/js/home.js"></script>
	</body>
</html>