body {
    font-family: Lato;
    font-size: 16px;
}

.text-dark {
	color: #282138 !important;
}

.api-container-grid {
	display: grid;
	height: auto;
	grid-template-columns: [one] 10% [two] 10% [three] 10% [four] 10% [five] 10% [six] 10% [seven] 10% [eight] 10% [nine] 10% [ten] 10%;
	grid-template-rows: [navbar] 75px [pre-content-header] 99px [content] auto [footer] auto;
}

.nav-container {
    grid-column: one / -1;
    height: 75px;
    grid-row-start: navbar;
}

.header-container {
    font-weight: 600;
    height: 36px;
	font-size: 32px;
	padding-bottom: 2%;
	padding-left: 10%;
	padding-top: 2%;
	grid-column: one / -1;
	grid-row-start: pre-content-header;
}

.content-container {
	grid-column: two / ten;
	grid-row-start: content;
	padding: 3% 5% 5% 5%;
	border-radius: 6px;
	box-shadow: 2px 2px 2px 2px rgba(189, 198, 212, 0.8);
	background-color: #f4f8ff;
}

.footer-container {
    margin-top: 2%;
	grid-column: one / -1;
	grid-row-start: footer;
}

.api-item-container {
	padding: 1% 2% 2% 2%;
	background-color: #ffffff;
	border-radius: 6px;
    box-shadow: 2px 2px 2px 2px rgba(189, 198, 212, 0.8);
    word-wrap: break-word;
}

.subheader-container {
	font-weight: 600;
	font-size: 24px;
	margin-bottom: 1%;
    margin-top: 1%;
}

.segment {
	background-color: #163150;
	color: #f4f8ff;
	max-height: 250px;
	border-radius: 3px;
}

.margin-textbox {
    margin-left: 1em;
}

.indexed-url {
	background-color:rgb(255, 255, 255);
	background-image:none;
	background-origin:padding-box;
	background-position-x:0%;
	background-position-y:0%;
	background-size:auto;
	border-bottom-color:rgba(34, 36, 38, 0.15);
	border-bottom-left-radius:4px;
	border-bottom-right-radius:4px;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-image-outset:0px;
	border-image-repeat:stretch;
	border-image-slice:100%;
	border-image-source:none;
	border-image-width:1;
	border-left-color:rgba(34, 36, 38, 0.15);
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:rgba(34, 36, 38, 0.15);
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:rgba(34, 36, 38, 0.15);
	border-top-left-radius:4px;
	border-top-right-radius:4px;
	border-top-style:solid;
	border-top-width:1px;
	box-shadow:rgba(34, 36, 38, 0.15) 0px 1px 2px 0px;
	box-sizing:border-box;
	color:rgba(0, 0, 0, 0.87);
	display:block;
	font-family:Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size:14px;
	line-height:19.999px;
	margin-bottom:14px;
	margin-left:0px;
	margin-right:0px;
	margin-top:14px;
	padding-bottom:14px;
	padding-left:14px;
	padding-right:14px;
	padding-top:14px;
	position:relative;
}

@media only screen and (max-width: 768px) {
    .nav-container {
        height: 125px;
    }
    .api-container-grid {
        grid-template-rows: [navbar] 125px [pre-content-header] 75px [content] auto [footer] auto;
    } 
}