body {
  font-family: Lato;
  font-weight: 400;
  color: #282138 !important;
}

div a {
  color: #4183c4;
  text-decoration: none;
}

a:hover {
  color: #ffd166;
}

.red {
  color: red;
}
.green {
  color: green;
}

.domain-container-grid {
  display: grid;
  grid-template-columns: [left-buffer] 8% [page-content] auto [right-buffer] 8%;
  grid-template-rows: [navbar] auto [content] auto [footer] auto;
}

.navbar-container-grid {
  grid-column: left-buffer / -1;
  grid-row-start: navbar;
}

.content-container-grid {
  grid-column-start: page-content;
  grid-row-start: content;
}

.footer-container-grid {
  grid-column: left-buffer / -1;
  grid-row-start: footer;
  margin-top: 2%;
}

.domain-content-grid {
  display: grid;
  grid-template-columns: [left-content] auto [right-content] auto;
  grid-template-rows: [header] auto [top] auto [bottom] auto;
}

.header-content {
  grid-column: left-content;
  grid-row: header;
  color: #282138;
}

.left-content {
  grid-column: left-content;
  grid-row: top;
}
.right-content {
  grid-column: right-content;
  grid-row: header;
}
.right-bottom-content {
  grid-column: right-content;
  grid-row: top;
}
.security-content {
  grid-column: right-content;
  grid-row: top;    
}
.bottom-content {
  grid-column: left-content / -1;
  grid-row: bottom;
}

.ui.bulleted.list {
  margin-top: 4px;
  margin-bottom: 0;
}

.ui.grid {
  margin-bottom: 0px;
}

.ui.input {
  width: 100%;
}

#actions {
  text-align: right;
}

.class_offline {
	color: green;
}

.class_active {
	color: red;
}

.class_suspended {
	color: orange;
}

.class_inactive {
	color: orange;
}

#scam-screenshot {
  filter: gray;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  margin-top: 25px;
}

#scam-screenshot:hover {
  cursor: -moz-zoom-in;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
  -webkit-filter: grayscale(0);
  filter: none;
}

.built {
	font-size: 8pt;
	font-style: italic;
	margin-top: 7%;
}

.malicious-domain-msg {
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 80%;
  margin: 25px 0px 25px 0px;
  background-color: #ffe8e6;
  color: #db2828;
  border-radius: 6px;
  box-shadow: 0 0 0 1px #db2828 inset, 0 0 0 0 transparent;
}

.verified-domain-msg {
  padding-left: 5px;
  padding-top: 5px;
  width: 80%;
  padding-bottom: 5px;
  margin: 25px 0px 25px 0px;
  background-color: #e5f9e7;
  color: #1ebc30;
  border-radius: 6px;
  box-shadow: 0 0 0 1px #1ebc30 inset, 0 0 0 0 transparent;
}

.neutral-domain-msg {
  padding-left: 5px;
  padding-top: 5px;
  width: 80%;
  padding-bottom: 5px;
  margin: 25px 0px 25px 0px;
  background-color: #f1e2d3;
  color: #a5673f;
  border-radius: 6px;
  box-shadow: 0 0 0 1px #a5673f inset, 0 0 0 0 transparent;
}

.domain-msg-text {
  padding: 5px;
}

.urlscan-img {
  border-radius: 3px;
  padding: 5px;
  box-shadow: 0 0 0 1px #000000 inset, 0 0 0 0 transparent;
}

.hide {
  display: none;
  overflow: hidden;
}

button {
  margin-top: 5%;
  background-color: #027796;
  color: #FFFFFF;
  border-radius: 3px;
  padding: 11px;
  font-weight: 800;
  letter-spacing: 2px;
  border: 1px solid #000000;
}
a.domain-page {
  color: #FFFFFF !important;
}
button:hover {
  color: #163150;
  background-color: #ffd166;
  border: 1px solid #000000;
}

#saftey-tips {
  background: #f8f8f9;
  border: 1px solid #222;
  padding: 10px;
  margin: 5px;
  border-radius: 0.5em;
  width: 90%;
  font-size: 12pt;
  float: right;
}