.center {
  text-align: center !important;
}

.status-container {
	width: 150px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
	color: white;
	font-weight: bold;
	border-radius: 13px;
	background-color: red;
}

.cat-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cat-text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 2%;
}
.cat-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.scams-container-grid {
  font-family: Lato;
  width: 100%;
	display: grid;
	grid-template-columns: [left-buffer] 5% [page-content] 90% [right-buffer] 5%;
	grid-template-rows: [navbar] auto [stats] auto [search] auto [scams-table] auto [footer] auto;
}

.center-content {
    display: inline-block;
}

.navbar-grid-frame {
	grid-row-start: navbar;
	grid-column-start: left-buffer;
	grid-column-end: -1;
	height: auto;
}

.stats-grid-frame {
	grid-row-start: stats;
	grid-column-start: left-buffer;
	grid-column-end: -1;
	height: auto;
}

.search-grid-frame {
	grid-row-start: search;
	grid-column-start: page-content;
	height: auto;
}

.scams-table-grid-frame {
	grid-row-start: scams-table;
	grid-column: page-content;
  height: auto;
  width: 100%;
}

.footer-grid-frame {
	grid-row-start: footer;
	grid-column-start: left-buffer;
    grid-column-end: -1;
    margin-top: 2%;
}

.offline {
	color: white;
	font-weight: bold;
	border-radius: 13px;
	background-color: #5fae0f;
	padding: 0px 0px 0px 0px;
}

.suspended {
	color: white;
	font-weight: bold;
	border-radius: 13px;
	background-color: orange;
	padding: 0px 0px 0px 0px;
}

.statusicon {
	width: 13.9px;
	height: 13.9px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.statustext {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3%;
}

.margin-12 {
	margin: 12px 12px 12px 12px;
}

.subcategoryicon {
	vertical-align: middle;
	margin-right: 6px;
	width: 16px;
	height: 16px;
}

thead tr { 
	font-family: Lato;
	font-weight: 800;
}

table {
	-webkit-border-vertical-spacing: 0px;
	-webkit-border-horizontal-spacing: 0px;
	width: 100%;
}

tbody tr:nth-child(even) {
	background-color: #ffffff;
	box-shadow: inset 0 -1px 0 0 rgba(187, 199, 222, 0.5);
}

tbody tr:nth-child(even):hover {
	box-shadow: 0 0 10px 0 rgba(190, 192, 197, 0.7), inset 0 -1px 0 0 rgba(187, 199, 222, 0.5);
}

tbody tr:nth-child(odd) {
	background-color: #f4f8ff;
	box-shadow: inset 0 -1px 0 0 rgba(187, 199, 222, 0.5);
}

tbody tr:nth-child(odd):hover {
  box-shadow: 0 0 10px 0 rgba(190, 192, 197, 0.7), inset 0 -1px 0 0 rgba(187, 199, 222, 0.5);
}

table td {
	padding: 12px 12px 12px 12px;
	font-family: Lato;
	text-align: center;
	font-size: 16px;
	color: #163150;
}

tbody tr {
	font-family: Lato;
	text-align: center;
	height: 61px;
	font-size: 16px;
	color: #163150;
	font-weight: 500;
}

tbody tr:hover {
	font-weight: 600;
}

table thead th{
	padding: 14px 14px 14px 14px;
	color: #f4f8ff;
	font-weight: 500;
	letter-spacing: 2px;
}

thead th {
	width: 25%;
	height: 61px;
	background-color: #697685;
}

.scams-nav-item {
    padding: 13px 16px 13px 16px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    background-clip: border-box;
    color: #ffffff;
    background-color: #163150;
    float: left;
    border: 1px solid #163150; 
    /* past here */  
    background-attachment:scroll;
    background-clip:border-box;
    background-image:none;
    background-origin:padding-box;
    background-size:auto;
    border-bottom-left-radius:4px;
    border-bottom-right-radius:4px;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
    box-sizing:border-box;
    cursor:pointer;
    flex-basis:auto;
    flex-grow:0;
    flex-shrink:0;
    font-family:Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size:14px;
    height:40px;
    line-height:14px;
    margin-left:1.4px;
    min-width:42px;
    padding-bottom:13px;
    padding-left:16px;
    padding-right:16px;
    padding-top:13px;
    position:relative;
    text-align:center;
    text-decoration-line:none;
    text-decoration-style:solid;
    text-transform:none;
    transition-delay:0s, 0s, 0s;
    transition-duration:0.1s, 0.1s, 0.1s;
    transition-property: background, box-shadow, color;
    transition-timing-function:ease, ease, ease;
    user-select:none;
    vertical-align:middle;
    width:42px;
    -webkit-box-align:center;
    -webkit-box-flex:0;
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}

.scams-nav-item:hover {
    background-color: #ffd166;
    color: #163150;
    font-weight: 800;
}

.status-align {
    display: flex;
    justify-content: center;
    align-items: center;
}