<title>CryptoScamDB</title>
<meta property="og:title" content="CryptoScamDB" />
<meta name="twitter:title" content="CryptoScamDB" />
<link rel="stylesheet" href="/css/normalize.css">
<link rel="stylesheet" href="/css/general.css">
<!--
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.11/semantic.min.css" integrity="sha256-g4+HzlttFiqgeuCnx3m308o0ahuBZ+0CRxaRWfSL0BU=" crossorigin="anonymous" />-->
<link href="https://fonts.googleapis.com/css?family=Lato:400,500,600,700,900" rel="stylesheet">
<meta name="description" content="Keeping track of all current cryptocurrency scams in an open-source database">
<meta property="og:description" content="Keeping track of all current cryptocurrency scams in an open-source database" />
<meta name="twitter:description" content="Keeping track of all current cryptocurrency scams in an open-source database" />
<meta http-equiv="content-type" content="text/html;charset=UTF-8">
<meta name="twitter:card" content="summary" />
<meta property="og:url" content="https://cryptoscamdb.org" />
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta name="theme-color" content="#ffd166"/>
<link rel="icon" href="/assets/favicon.png" type="image/x-icon" />
<link rel="alternate" type="application/rss+xml" href="/rss/" title="RSS feed for CryptoScamDB">
<meta property="og:image" content="https://cryptoscamdb.org/assets/logo/logotype-horizontal-darkblue.png" />
<meta name="twitter:image" content="https://cryptoscamdb.org/assets/logo/logotype-horizontal-darkblue.png" />
<meta name="robots" content="index, follow">
<meta name="keywords" content="crypto, cryptocurrency, ethereum, scam, scamming, ether, eth, tracking, track, db, database, phishing, info, fake, ico">