<div class="stats-grid bordered">
    <div class="total-scams-value">
        <div class="scams-value">
            <%= total %>
        </div>
    </div>
    <div class="total-scams-label">
        <div class="scams-label">
            total scams
        </div>
    </div>
    <div class="active-scams-value">
        <div class="scams-value actives">
            <%= active %>
        </div>
    </div>
    <div class="active-scams-label">
        <div class="scams-label">
            active scams
        </div>
    </div>
    <div class="addresses-value">
        <div class="scams-value">
            <%= total_addresses %>
        </div>
    </div>
    <div class="addresses-label">
        <div class="scams-label">
            addresses registered
        </div>
    </div>
    <div class="inactive-scams-value">
        <div class="scams-value inactives">
            <%= inactive %>
        </div>
    </div>
    <div class="inactive-scams-label">
        <div class="scams-label">
            inactive scams
        </div>
    </div>
</div>